﻿<head>
	<title>DevOps</title>
</head>
<body>
<form class="formulaire" action="index.php" method="post">
	numero carte <input type="text" name="cardNumber"/><br/>
	date <input type="text" name="mois"/>/<input type="text" name="annee"/><br/>
	cvv <input type="text" name="cvv"/><br/>
	montant <input type="text" name="ammount"/>€<br/>
	<input type="Submit" value="Valider"/>
</form>
</body>